/* ==========================================================================
   Utilities
   ========================================================================== */

//Mixins
//==========================================================================


// Set a rem font size with pixel fallback

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}



// Breakpoints /////////////////
// CHECK BREAKPOINT WIDTH VALUES


@mixin mq($break) {
  @if map_has_key($breakpoints, $break) {
    $break: map_get($breakpoints, $break);
  }
}

@mixin bp($break) {
  @if $break == "XXS" {
    @media (max-width: $brkpoint-xxl) {@content;}
  }
  @else if $break == "XL" {
    @media (min-width: $brkpoint-xl) {@content;}
  }
  @else if $break == "L" {
    @media (min-width: $brkpoint-l) {@content;}
  }
  @else if $break == "M" {
    @media (min-width: $brkpoint-m) {@content;}
  }
  @else if $break == "S" {
    @media (min-width: $brkpoint-s) {@content;}
  }
  @else if $break == "XS" {
    @media (min-width: $brkpoint-xs) {@content;}
  }
  @else if $break == "XXS" {
    @media (min-width: $brkpoint-xxs) {@content;}
  }
  @else if $break == "XXXL" {
    @media (min-width: $brkpoint-xxs) {@content;}
  }
  @else {
    @error "No value could be retrieved for '#{$break}'.";
  }
}


// Transitions cross browser

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
  transition: $args;
}


// Animation and keyframes cross browser

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}


// Opacity cross browser

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}





//Helpers
//==========================================================================


// Clearfix
// http://nicolasgallagher.com/micro-clearfix-hack/

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


// Visually hide an element while still accessible by screenreaders

%visuallyhidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
}


// Hide text to show a background image

%hidetext {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
