/* ==========================================================================
    M-Gallery
========================================================================== */


// Mobile first gallery view of all images stacked
.carousel-outer {

    .carousel-inner {
        // width: 100%;
        // height: auto;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
        border: 0;
    }

    .inner__item {
        // height: auto;
        margin: 0 0 20px;
    }

    .next-link, .prev-link {
        display: none;
    }
}


// Larger screens single image carousel view
@media (min-width: 775px) {
    .gallery {
        display: flex;

        // justify-content: center;
        align-items: center;
    }
    .carousel-outer {
        position: relative;
        height: 90%;
        margin: 0 5%;
        // overflow: hidden;

        flex: 1;

        .carousel-inner {
            position: relative;
            width: 90%;
            // overflow: hidden;


            li {
                position: absolute;
                // left: 0;
                transition: opacity .7s ease-in-out;
                opacity: 0;
                // overflow: hidden;

            }
            .portait {
                left: 25%;
            }
            .item--is-shown {
                opacity: 1;
            }

        }


        .next-link, .prev-link{
            display: block;
            opacity: 0;
            z-index: 997;
            position: absolute;
            width: 45%;
            // padding: 100px;
            height: 100%;

        }
        .next-link {
            top: 0;
            right: 0;
            bottom: 0;
            left: 45%;
        }
        .prev-link {
            top: 0;
            left: 0;
            bottom: 0;
            right: 45%;
        }
        .next-link:hover {
            cursor: e-resize;
        }
        .prev-link:hover {
            cursor: w-resize;
        }

    }
}
