/* ==========================================================================
    M-Nav
========================================================================== */

.wrap {

    header {
        width: 200px;
        // heigh;
        background: white;
        padding: 30px 0;

        .header-position {
            // position: fixed;
            top: 30px;
            left: 0;
            bottom: 30px;
            width: 135px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            z-index: 999;
        }

        .logo {
            @extend %hidetext;
            max-width: 135px;
            background: url("/images/eb-logo.svg") no-repeat center;
            background-size: contain;
            height: 80px;
            padding: 0;
            margin: 0;
        }

        .site-nav {
            ul {
                list-style: none;
                margin: 20px 0;
                padding: 0 20px 0 0;
                text-align: right;

                li {
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .email-link {
            display: block;
            text-align: right;
            padding-right: 20px;
        }

        .mobile-nav-toggle {
            display: none;
            width: 50px;
            height: 50px;
            margin-right: 20px;
            align-items: center;
            cursor: pointer;

            span,
            span:before,
            span:after {
                content: "";
                display: block;
                height: 2px;
                width: 100%;
                background: #333;
                position: relative;
                transition: all 0.3s ease-in-out;
            }

            span:before {
                top: 15px;
            }
            span:after {
                top: -17px;
            }

            &.is-open span {
                background: transparent;
            }
            &.is-open span:before,
            &.is-open span:after {
                transform-origin: center;
                transform: rotate(45deg);
                top: 0;
            }
            &.is-open span:after {
                transform: rotate(-45deg);
            }
        }
    } // header end
    // Mobile nav
    .mobile-nav {
        position: absolute;
        width: 100%;
        background: white;
        padding: 30px 0 20px;
        transform: translateY(-100%);
        transition: all 0.3s ease-in-out;
        z-index: 998;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li {
            text-align: center;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 775px) {
    .wrap header {
        width: auto;
        padding: 20px 0;

        .header-position {
            width: auto;
            position: relative;
            top: auto;
            bottom: auto;
            left: auto;
            flex-direction: row;
            align-items: center;
        }

        .site-nav,
        .email-link {
            display: none;
        }
        .logo {
            height: 45px;
        }
        .mobile-nav-toggle {
            display: flex;
        }
    }
    .mobile-nav.is-open {
        transform: translateY(0%);
    }
}
