/* ==========================================================================
    Mobile First Nav
========================================================================== */

// Site header links

header {
  width: auto;
  background: white;
  padding: 20px 0;

  .header-position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
  }

  .logo {
    @extend %hidetext;
    background: url('images/logo-01.png') no-repeat center;
    background-size: contain;
    max-width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
  }

  .logo--title {
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-right: 10px;
    line-height: 1.1;
    span {
      display: block;
    }
    .logo--title__subtitle {
      font-size: 14px;
      font-weight: 300;
    }
  }

  .site-nav,
  .contact {
    display: none;
  }

  .site-nav {
    a {
      padding: 5px 10px;
    }
    ul {
      list-style: none;
      margin: 20px 0;
      padding: 0 10px 0 0;
      text-align: right;

      li {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

//Mobile nav toggle button
.mobile-nav-toggle {
  display: block;
  width: 50px;
  height: 50px;
  align-items: center;
  cursor: pointer;

  span {
    display: block;
    height: 2px;
    width: 100%;
    background: #aaaaaa;
    margin: 12px auto;
    border-radius: 1px;
    transition: all 0.3s ease-in-out;
  }

  // Hamburger transition style 2
  &.is-open span:nth-child(1) {
    transform: translateY(26px) translateX(-13px) rotate(45deg) scaleX(0.75);
  }

  &.is-open span:nth-child(2) {
    transform: rotate(90deg) scaleX(0.8) translateX(7px);
  }

  &.is-open span:nth-child(3) {
    transform: translateY(-2px) translateX(13px) rotate(-45deg) scaleX(0.75);
  }
} // header end


// Contact icon section
.contact {
  text-align: right;
}
.mobile-contact {
  margin-top: 25px;
}

.contact__link {
  padding: 5px;
  margin-right: 0;
  margin-left: auto;

  &:hover,
  &:focus {
    .icon {
      fill: $silver;
    }
  }
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  fill: $gray;
  transition: 0.2s;
}

// Mobile nav
.mobile-nav {
  position: absolute;
  margin-left: -20px;
  width: 100%;
  background: white;
  padding: 30px 0 20px;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
  z-index: 998;
  &.is-open {
    transform: translateY(20%);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    text-align: center;
    margin-bottom: 15px;
    & > a {
      padding: 10px 20px;
    }
  }
}

.nav-link--selected {
  font-weight: 400;
}

@media (min-width: map-get($breakpoint, 'xs')) {
  header {
    .logo--title {
      font-size: 20px;
      span {
        display: inline;
      }
      .logo--title__subtitle {
        font-size: 16px;
      }
    }
  }
}

@media (min-width: map-get($breakpoint,'s')) {
  header {
    .logo {
      max-width: 65px;
    }
    .logo--title {
      font-size: 24px;
      .logo--title__subtitle {
        font-size: 18px;
      }
    }
  }
}

// Large screen nav

@media (min-width: map-get($breakpoint, 'l')) {
  header {
    width: 20%;
    padding: 30px 0;

    .logo {
      max-width: 75px;
    }

    .logo--title {
      text-align: right;
      padding: 0 20px 0 0;

      .logo--title__subtitle {
        margin-top: 0;
      }
    }

    .header-position {
      width: 140px;
      height: 100%;
      margin: 0 30px;
      flex-direction: column;
      justify-content: space-between;
    }

    a {
      font-size: 16px;
    }

    .site-nav,
    .contact {
      display: block;
    }
    .contact__link {
      margin-left: 95%;
    }

    .logo {
      height: 100px;
    }
    .mobile-nav-toggle {
      display: none;
    }
  }
}

@media (min-width: map-get($breakpoint,'xl')) {
  header {
    .header-position {
      width: 150px;
      margin: 0 40px;
    }
    a {
      font-size: 18px;
    }

    .logo--title {
      font-size: 26px;
    }

    .logo--title__subtitle {
      font-size: 20px;
    }
  }
}
