/* ==========================================================================
    Layout
========================================================================== */


/* Main layout sections
  ========================================================================== */

#header {

}

#nav {

}

#main {

}

#footer {

}

#side-bar {

}


/* Grid
  ========================================================================== */

.wrapper {

}

.cols {

}


/* Modular layout classes
   ========================================================================== */

.l-left {
    float: left;
}

.l-right {
    float: right;
}

.l-align-center {
    text-align: center;
}
